html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.btn-interactive {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-interactive:hover {
  transform: scale(1.05);
}